.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url();
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("images/IMG_0444.JPG");
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("images/IMG_0444.JPG");
}
